.TodoListItem {
    border-bottom: 1px solid #efefef;
    padding: 1rem;
}
.TodoListItem:hover {
    background: #efefef;
    cursor: pointer;
}
.TodoListItem:active {
    background: #d7d7d7;
    cursor: pointer;
}
.ItemTitle {
    margin: 0;
}
.ItemCompleted {
    margin: 0;
    font-weight: 400;
    color: #6c6c6c;
}